<section class="story">
  <div class="line"></div>
  <div class="story__container container">
    <div class="story__item">
      <div class="story__item-context">
        <div class="div"><p>2021</p><div class="gic"></div></div>
        <h2>The Beginning of a New Adventure</h2>
        <h3>An Ordinary Evening, An Extraordinary Destiny</h3>
        <p>
          On a seemingly ordinary evening, our destinies met. A spontaneous
          conversation, shared laughter, and an instant connection transformed a
          chance encounter into the first chapter of our life together.
        </p>
      </div>
      <img src="img/story1.jpeg" alt="" />
    </div>
    <div class="story__item">
      <img src="img/story1.jpeg" alt="" />
      <div class="story__item-context">
        <span>2023</span>
        <h2>The Beginning of a New Adventure</h2>
        <h3>An Ordinary Evening, An Extraordinary Destiny</h3>
        <p>
          On a seemingly ordinary evening, our destinies met. A spontaneous
          conversation, shared laughter, and an instant connection transformed a
          chance encounter into the first chapter of our life together.
        </p>
      </div>
    </div>
    <div class="story__item">
      <div class="story__item-context">
        <span>2025</span>

        <h2>The Beginning of a New Adventure</h2>
        <h3>An Ordinary Evening, An Extraordinary Destiny</h3>
        <p>
          On a seemingly ordinary evening, our destinies met. A spontaneous
          conversation, shared laughter, and an instant connection transformed a
          chance encounter into the first chapter of our life together.
        </p>
      </div>
      <img src="img/story1.jpeg" alt="" />
    </div>
  </div>
</section>
