<section class="category-single">
    <div class="category-single__container _container">
        <div class="category-list">
    <button class="toggle-list" onclick="toggleModal('category-list')">Каталог</button>
    <div class="category-list__box" id="category-list">
        <button class="clous-modal" onclick="toggleModal('clous-category-list')">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="26" height="26" rx="4" fill="#FFB342"/>
                <line x1="6.59491" y1="7.33779" x2="19.7425" y2="19.1759" stroke="#100E29" stroke-width="2"/>
                <line x1="6.25665" y1="19.1759" x2="19.4042" y2="7.33779" stroke="#100E29" stroke-width="2"/>
            </svg>                
        </button>
        <div class="category-list__box-container" onclick="toggleModal('category-list')">
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Сортовой прокат</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Труба стальная</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Трубопроводная арматура</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Цветные металлы</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Метизы метсырье</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Крепеж</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Ограждения</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Сэндвич панели</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Вагонка</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Метизы метсырье</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Вагонка</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Сэндвич панели</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Метизы метсырье</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Вагонка</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Ограждения</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Метизы метсырье</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Вагонка</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Ограждения</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="category-single__right">
            <section class="subcategory">
    <div class="subcategory__container _container">
        <h1>Труба стальная</h1>
        <div class="subcategory__grid">
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 1.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 2.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 3.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 1.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 1.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 2.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 3.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 1.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
        </div>
    </div>
</section>
            <div class="category-filters">
    <h4>Фильтр по параметрам</h4>
    <div class="category-filters__grid">
        <div class="category-filters__item">
            <p>Размер</p>
            <select name="" id="" aria-placeholder="Выберите размер">
                <option value="0">Выберите размер</option>
                <option value="1">89x5</option>
                <option value="2">40х40x3</option>
            </select>
        </div>
        <div class="category-filters__item">
            <p>Толщина стенки</p>
            <select name="" id="">
                <option value="0">Выберите толщину стенки</option>
                <option value="1">4мм</option>
                <option value="2">8мм</option>
            </select>
        </div>
        <div class="category-filters__item">
            <p>Марка стали</p>
            <select name="" id="">
                <option value="0">Марка стали</option>
                <option value="1">Iron Maiden</option>
                <option value="2">The Trooper</option>
            </select>
        </div>
        <div class="category-filters__item">
            <p>ГОСТ</p>
            <select name="" id="">
                <option value="0">Выберите ГОСТ</option>
                <option value="1">Выберите ГОСТ</option>
                <option value="2">Выберите ГОСТ</option>
            </select>
        </div>
        <div class="category-filters__item">
            <p>Длина</p>
            <select name="" id="">
                <option value="0">Выберите длину</option>
                <option value="1">1 метр</option>
                <option value="2">2 метр</option>
            </select>
        </div>
        <div class="category-filters__item">
            <p>Тип сечения</p>
            <select name="" id="">
                <option value="0">Выберите тип сечения</option>
                <option value="1">Прямоугольное сечение</option>
                <option value="2">Круглое сечение</option>
            </select>
        </div>
    </div>
</div>
            <div class="category-table">
    <div class="category-table__sort">
        <p>Сортировать по:</p>
        <button class="active">
            Цене
            <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.64645 10.3536C3.84171 10.5488 4.15829 10.5488 4.35355 10.3536L7.53553 7.17157C7.7308 6.97631 7.7308 6.65973 7.53553 6.46447C7.34027 6.2692 7.02369 6.2692 6.82843 6.46447L4 9.29289L1.17157 6.46447C0.976311 6.2692 0.659728 6.2692 0.464466 6.46447C0.269204 6.65973 0.269204 6.97631 0.464466 7.17157L3.64645 10.3536ZM3.5 0L3.5 10H4.5L4.5 0L3.5 0Z" fill="#FFB342"/>
            </svg>                
        </button>
        <button>Популярности</button>
    </div>
    <div class="category-table__box">
        <table >
            <thead>
                <tr>
                    <td>Название</td>
                    <td>Длина</td>
                    <td>Цена</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
    <a href="" class="active">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <span>...</span>
    <a href="">
        2563
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.3536 4.35355C11.5488 4.15829 11.5488 3.84171 11.3536 3.64645L8.17157 0.464466C7.97631 0.269204 7.65973 0.269204 7.46447 0.464466C7.2692 0.659728 7.2692 0.976311 7.46447 1.17157L10.2929 4L7.46447 6.82843C7.2692 7.02369 7.2692 7.34027 7.46447 7.53553C7.65973 7.7308 7.97631 7.7308 8.17157 7.53553L11.3536 4.35355ZM0 4.5H11V3.5H0V4.5Z" fill="#262626"/>
        </svg>            
    </a>
</div>
</div>
            <div class="category-info">
    <div class="category-info__item">
        <h3>Труба профильная квадратная оцинкованная 8х8х1.5 основные характеристики</h3>
        <p>Труба профильная квадратная оцинкованная 8х8х1.5 – это полое металлическое изделие, которое имеет квадратную форму сечения. Размер трубы: 8x8, толщина стенки составляет - мм. Труба профильная квадратная оцинкованная 8х8х1.5 имеет длину до 12 метров.</p>
        <p>Вся продукция прошла необходимую сертификацию качества и соответствует стандартам: ГОСТ 8639-82. Изделия производятся из оцинкованной стали марки - Ст3.</p>
        <p>Сталь без какого-либо покрытия, под действием внешних факторов, очень быстро подвергается коррозии. Поэтому, благодаря цинкованию, трубы приобретают защиту от окисления.</p>
    </div>
    <div class="category-info__item">
        <h3>Преимущества оцинкованной профильной трубы</h3>
        <ul>
            <li>легкость и прочность конструкции;</li>
            <li>устойчивость к окислению и коррозии;</li>
            <li>выдерживает большие нагрузки;</li>
            <li>долговечность.</li>
        </ul>
        <p>Оцинкованные профильные трубы активно применяются в промышленном и гражданском строительстве, используются в качестве каркасов жилых домов, служат укреплением основания мостов, возведении телиц, ограждений и заборов.</p>
    </div>
</div>
        </div>
    </div>
</section>