<section class="hearts">
  <div class="hearts__container container">
    <div class="hearts__item" data-aos="fade-up">
      <h4>SMITH</h4>
      <h3>EMMA</h3>
      <p>
        I have always brought color and art into the lives of those around me.
        Every detail for me is an opportunity to create something beautiful, and
        I hope my smile brings you light, just as John brings light into my life
        every day.
      </p>
    </div>
    <img src="img/heartscenter.jpeg" alt="" />
    <div class="hearts__item" data-aos="fade-up">
      <h4>DOE</h4>
      <h3>JOHN</h3>
      <p>
        I've always been passionate about music and nature, the life of the
        party, ready to turn any moment into an unforgettable memory. Adventure
        has taken me through wonderful places, but none compared to the moment I
        met Emma.
      </p>
    </div>
  </div>
</section>
