<section class="clock">
  <div class="clock__container container">
    <div class="clock__heart">
      <img src="img/pinkhearticon.png" alt="" />
    </div>
    <div class="clock__back-div"></div>
    <h3>Join Our Joy!</h3>
    <h2>Celebrating Love in a Magical Setting</h2>
    <p>
      We warmly invite you to be part of the most important chapter of our
      lives. Let's unite our hearts and celebrate together, in a storybook
      setting.
    </p>
    <div class="clock__context">
      <div class="clock__context-item">
        <div class="clock__context-item-box">
          <span data-aos="fade-up">0</span>
        </div>
        <p>days</p>
      </div>
      <div class="clock__context-item">
        <div class="clock__context-item-box">
          <span data-aos="fade-up">0</span>
        </div>
        <p>hours</p>
      </div>
      <div class="clock__context-item">
        <div class="clock__context-item-box">
          <span data-aos="fade-up">0</span>
        </div>
        <p>minutes</p>
      </div>
      <div class="clock__context-item">
        <div class="clock__context-item-box">
          <span data-aos="fade-up">0</span>
        </div>
        <p>seconds</p>
      </div>
    </div>
  </div>
</section>
