<section class="memory">
  <div class="memory__container container">
    <h2>Precious Memories</h2>
    <h3>Unique Moments from Our Lives</h3>
    <div class="memory__context">
      <img class="memory__context-grow" src="img/memory1.jpeg" alt="" />
      <img src="img/memory2.jpeg" alt="" />
      <img src="img/memory3.jpeg" alt="" />
    </div>
    <div class="memory__context">
      <img src="img/memory4.jpeg" alt="" /> 
      <img src="img/memory5.jpeg" alt="" />
      <img class="memory__context-grow" src="img/memory6.jpeg" alt="" />
    </div>
  </div>
</section>
