<section class="main">
  <div class="main__container">
    <div class="main__content"  data-aos="fade-up"
     data-aos-anchor-placement="top-center">
      <h2>Together Forever</h2>
      <h1>EMMA & John</h1>
      <p>FEBRUARY <span>18</span> 2026</p>
    </div>
    <svg
      class="relative top-1 z-2 h-[7vw] w-full fill-white"
      width="100%"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      viewBox="0 0 2560 168.6227"
      enable-background="new 0 0 2560 168.6227"
      xml:space="preserve"
      data-sentry-element="svg"
      data-sentry-source-file="HeroSection.tsx"
      fill="white"
    >
      <g
        data-sentry-element="g"
        data-sentry-source-file="HeroSection.tsx"
      ></g>
      <g data-sentry-element="g" data-sentry-source-file="HeroSection.tsx">
        <path
          d="M2560,0c0,0-219.6543,165.951-730.788,124.0771c-383.3156-31.4028-827.2138-96.9514-1244.7139-96.9514 c-212.5106,0-439,3.5-584.4982,1.5844l0,139.9126h2560V0z"
          data-sentry-element="path"
          data-sentry-source-file="HeroSection.tsx"
        ></path>
      </g>
    </svg>
  </div>
</section>
