<section class="subcategory">
    <div class="subcategory__container _container">
        <h1>Труба стальная</h1>
        <div class="subcategory__grid">
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 1.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 2.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 3.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 1.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 1.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 2.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 3.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
            <div class="subcategory__item">
                <a href="" class="img"><img src="img/2278 1.png" alt=""></a>
                <h4><a href="">Труба профильная</a></h4>
            </div>
        </div>
    </div>
</section>