<!-- <section class="memory">
  <div class="memory__container container">
    <h3>Precious Memories</h3>
    <h2>Unique Moments from Our Lives</h2>
    <div class="memory__context">
      <img src="img/memory1.jpg" alt="" />
      <img src="img/memory2.jpg" alt="" />
      <div class="memory__context-images-box">
        <img src="img/memory3.jpg" alt="" />
        <img src="img/memory4.jpg" alt="" />
      </div>
    </div>
    <div class="memory__context">
      <img src="img/memory5.jpg" alt="" />
      <img class="aaa" src="img/memory6.jpg" alt="" />
    </div>
  </div>
</section> -->


 <section class="memory">
  <div class="memory__container container">
    <span>Precious Memories</span>
    <h2>Unique Moments from Our Lives</h2>
    <div class="memory__context">
      <img src="img/memory1.jpg" alt="" />
      <img src="img/memory2.jpg" alt="" />
      <div class="memory__context-images-box">
        <img src="img/memory3.jpg" alt="" />
        <img src="img/memory4.jpg" alt="" />
      </div>
    </div>
    <div class="memory__second">
      <img src="img/memory5.jpg" alt="" />
      <img src="img/memory6.jpg" alt="" />
    </div>
  </div>
</section>
