<section class="places">
  <div class="places__container container">
    <div class="places__item" data-aos="fade-up">
      <img src="img/placesring.png" alt="placesimg" />
      <h3>City Hall</h3>
      <p>04 PM - 05 PM</p>
      <span>123 Main Street, Springfield</span>
      <a href="/"><img src="img/placesgps.png" alt="placesimg" /> See on map</a>
    </div>
    <div class="places__item" data-aos="fade-up">
      <img src="img/placeschurch.png" alt="placesimg" />
      <h3>City Hall</h3>  
      <p>04 PM - 05 PM</p>
      <span>123 Main Street, Springfield</span>
      <a href="/"><img src="img/placesgps.png" alt="placesimg" /> See on map</a>
    </div>
    <div class="places__item" data-aos="fade-up">
      <img src="img/placesglass.png" alt="placesimg" />
      <h3>City Hall</h3>
      <p>04 PM - 05 PM</p>
      <span>123 Main Street, Springfield</span>
      <a href="/"><img src="img/placesgps.png" alt="placesimg" /> See on map</a>
    </div>
  </div> 
</section>
