<section class="places">
  <div class="places__container container">
    <img src="img/placestopimg.jpeg" alt="" />
    <span>Join Our Joy!</span>
    <h2>28 FEBRUARY 2026</h2>
    <div class="places__items">
      <div class="places__items-item" data-aos="fade-up">
        <h3>City Hall</h3>
        <h4>04 PM - 05 PM</h4>
        <p>123 Main Street, Springfield</p>
        <a href="/"
          ><img src="img/placesgps.png" alt="placesimg" /> See on map</a
        >
      </div>
      <div class="places__items-item" data-aos="fade-up">
        <h3>City Hall</h3>
        <h4>04 PM - 05 PM</h4>
        <p>123 Main Street, Springfield</p>
        <a href="/"
          ><img src="img/placesgps.png" alt="placesimg" /> See on map</a
        >
      </div>
      <div class="places__items-item" data-aos="fade-up">
        <h3>City Hall</h3>
        <h4>04 PM - 05 PM</h4>
        <p>123 Main Street, Springfield</p>
        <a href="/"
          ><img src="img/placesgps.png" alt="placesimg" /> See on map</a
        >
      </div>
    </div>
  </div>
</section>
