<section class="magic">
  <div class="magic__container container">
    <div class="magic__context" data-aos="fade-up">
      <span>Join Our Joy!</span>
      <h2>Celebrating Love in a Magical Setting</h2>
      <p>
        We warmly invite you to be part of the most important chapter of our
        lives. Let's unite our hearts and celebrate together, in a storybook
        setting.
      </p>
    </div>
    <div class="magic__images">
        <img src="img/mask.png" alt="">
    </div>
  </div>
</section>
 