<div class="category-info">
    <div class="category-info__item">
        <h3>Труба профильная квадратная оцинкованная 8х8х1.5 основные характеристики</h3>
        <p>Труба профильная квадратная оцинкованная 8х8х1.5 – это полое металлическое изделие, которое имеет квадратную форму сечения. Размер трубы: 8x8, толщина стенки составляет - мм. Труба профильная квадратная оцинкованная 8х8х1.5 имеет длину до 12 метров.</p>
        <p>Вся продукция прошла необходимую сертификацию качества и соответствует стандартам: ГОСТ 8639-82. Изделия производятся из оцинкованной стали марки - Ст3.</p>
        <p>Сталь без какого-либо покрытия, под действием внешних факторов, очень быстро подвергается коррозии. Поэтому, благодаря цинкованию, трубы приобретают защиту от окисления.</p>
    </div>
    <div class="category-info__item">
        <h3>Преимущества оцинкованной профильной трубы</h3>
        <ul>
            <li>легкость и прочность конструкции;</li>
            <li>устойчивость к окислению и коррозии;</li>
            <li>выдерживает большие нагрузки;</li>
            <li>долговечность.</li>
        </ul>
        <p>Оцинкованные профильные трубы активно применяются в промышленном и гражданском строительстве, используются в качестве каркасов жилых домов, служат укреплением основания мостов, возведении телиц, ограждений и заборов.</p>
    </div>
</div>