<div class="category-filters">
    <h4>Фильтр по параметрам</h4>
    <div class="category-filters__grid">
        <div class="category-filters__item">
            <p>Размер</p>
            <select name="" id="" aria-placeholder="Выберите размер">
                <option value="0">Выберите размер</option>
                <option value="1">89x5</option>
                <option value="2">40х40x3</option>
            </select>
        </div>
        <div class="category-filters__item">
            <p>Толщина стенки</p>
            <select name="" id="">
                <option value="0">Выберите толщину стенки</option>
                <option value="1">4мм</option>
                <option value="2">8мм</option>
            </select>
        </div>
        <div class="category-filters__item">
            <p>Марка стали</p>
            <select name="" id="">
                <option value="0">Марка стали</option>
                <option value="1">Iron Maiden</option>
                <option value="2">The Trooper</option>
            </select>
        </div>
        <div class="category-filters__item">
            <p>ГОСТ</p>
            <select name="" id="">
                <option value="0">Выберите ГОСТ</option>
                <option value="1">Выберите ГОСТ</option>
                <option value="2">Выберите ГОСТ</option>
            </select>
        </div>
        <div class="category-filters__item">
            <p>Длина</p>
            <select name="" id="">
                <option value="0">Выберите длину</option>
                <option value="1">1 метр</option>
                <option value="2">2 метр</option>
            </select>
        </div>
        <div class="category-filters__item">
            <p>Тип сечения</p>
            <select name="" id="">
                <option value="0">Выберите тип сечения</option>
                <option value="1">Прямоугольное сечение</option>
                <option value="2">Круглое сечение</option>
            </select>
        </div>
    </div>
</div>