<section class="clock">
  <div class="clock__container container">
    <div class="clock__item">
      <div class="clock__item-block">
        <span data-aos="fade-up">0</span>
      </div>
      <p>days</p>
    </div>
    <div class="clock__item"> 
      <div class="clock__item-block">
        <span data-aos="fade-up">0</span>
      </div>
      <p>hours</p>
    </div>
    <div class="clock__item">
      <div class="clock__item-block">
        <span data-aos="fade-up">0</span>
      </div>
      <p>minutes</p>
    </div>
    <div class="clock__item">
      <div class="clock__item-block">
        <span data-aos="fade-up">0</span>
      </div>
      <p>seconds</p>
    </div>
  </div>
</section>
