<section class="hearts">
  <img src="img/topimg.jpeg" alt="" />
  <div class="hearts__container container">
    <div class="hearts__item">
      <div class="hearts__item-image">
        <img src="img/circlefirstimg.jpeg" alt="" />
      </div>
      <div class="hearts__item-context" data-aos="fade-up">
        <h4>SMITH</h4>
        <h3>EMMA</h3>
        <p>
          I have always brought color and art into the lives of those around me.
          Every detail for me is an opportunity to create something beautiful,
          and I hope my smile brings you light, just as John brings light into
          my life every day.
        </p>
        <div class="hearts__images-icons">
          <a href="/"><img src="img/facebook.png" alt="" /></a>
          <a href="/"><img src="img/instagram.png" alt="" /></a>
        </div>
      </div>
    </div>
     <div class="hearts__heart">
      <img src="img/pinkhearticon.png" alt="" />
    </div>
    <div class="hearts__item">
      <div class="hearts__item-image">
        <img src="img/circlesecondimg.jpeg" alt="" />
      </div>
      <div class="hearts__item-context" data-aos="fade-up">
        <h4>DOE</h4>
        <h3>JOHN</h3>
        <p>
          I've always been passionate about music and nature, the life of the
          party, ready to turn any moment into an unforgettable memory.
          Adventure has taken me through wonderful places, but none compared to
          the moment I met Emma.
        </p>
        <div class="hearts__images-icons">
          <img src="img/facebook.png" alt="" />
          <img src="img/instagram.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <img src="img/bottomimg.jpeg" alt="" />
</section>
 