<section class="story">
  <div class="story__container container">
    <h3>Our Story</h3>
    <h2>How We Met and Decided to Journey Through Life Together</h2>
    <div class="story__years">
      <a href="/">2021</a>
      <a href="/">2023</a>
      <a class="active" href="/">2025</a>
    </div>
    <div class="story__card">
      <div class="story__card-borders">
        <img src="img/storyborderimg.png" alt="">
      </div>
      <img src="img/story25.jpeg" alt="" />
      <div class="story__card-content">
        <h4>Adventures Together</h4>
        <h5>Exploring the World, Discovering Each Other</h5>
        <p>
          Every trip we've taken together has been an opportunity to discover
          the beauty of the world and the depths of our love. From the eternal
          snows of the Alps to the golden beaches of Greece, each adventure has
          strengthened our bond and prepared us for the journey of life as
          husband and wife.
        </p>
      </div>
    </div>
  </div>
</section>
