<div class="category-list">
    <button class="toggle-list" onclick="toggleModal('category-list')">Каталог</button>
    <div class="category-list__box" id="category-list">
        <button class="clous-modal" onclick="toggleModal('clous-category-list')">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="26" height="26" rx="4" fill="#FFB342"/>
                <line x1="6.59491" y1="7.33779" x2="19.7425" y2="19.1759" stroke="#100E29" stroke-width="2"/>
                <line x1="6.25665" y1="19.1759" x2="19.4042" y2="7.33779" stroke="#100E29" stroke-width="2"/>
            </svg>                
        </button>
        <div class="category-list__box-container" onclick="toggleModal('category-list')">
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Сортовой прокат</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Труба стальная</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Трубопроводная арматура</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Цветные металлы</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Метизы метсырье</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Крепеж</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Ограждения</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Сэндвич панели</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Вагонка</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Метизы метсырье</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Вагонка</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Сэндвич панели</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Метизы метсырье</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Вагонка</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Ограждения</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Метизы метсырье</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Вагонка</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Ограждения</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>