<section class="home-catalog">
    <div class="home-catalog__container _container">
        <div class="home-catalog__title">
            <span class="title-span">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="5" y="9.47754" width="6.95499" height="6.95499" transform="rotate(-30 5 9.47754)" fill="#FFB82B"/>
                    <rect x="7.93555" y="16.6643" width="7.10955" height="7.10955" fill="#FFB82B"/>
                    <rect x="17.8906" y="7.42188" width="7.10955" height="7.10955" fill="#FFB82B"/>
                    <rect x="17.8906" y="16.6643" width="7.10955" height="7.10955" fill="#FFB82B"/>
                </svg>                    
                Товары
            </span>
            <h2>Каталог продукции</h2>
        </div>
        <div class="home-catalog__grid">
            <div class="product-item">
    <a href="product-single.html" class="product-item__img">
        <img src="img/Photo.png" alt="">
    </a>
    <div class="product-item__text">
        <h4><a href="product-single.html">Лист г/к ст.09Г2С ГОСТ 19903-74</a></h4>
    </div>
</div>
            <div class="product-item">
    <a href="product-single.html" class="product-item__img">
        <img src="img/Photo (1).png" alt="">
    </a>
    <div class="product-item__text">
        <h4><a href="product-single.html">Лист г/к ст.3сп5 ГОСТ 19903-74</a></h4>
    </div>
</div>
            <div class="product-item">
    <a href="product-single.html" class="product-item__img">
        <img src="img/Photo (2).png" alt="">
    </a>
    <div class="product-item__text">
        <h4><a href="product-single.html">Труба собственного пр-ва э/с</a></h4>
    </div>
</div>
            <div class="product-item">
    <a href="product-single.html" class="product-item__img">
        <img src="img/Photo (3).png" alt="">
    </a>
    <div class="product-item__text">
        <h4><a href="product-single.html">Труба лежалая ГОСТ 10706-76</a></h4>
    </div>
</div>
            <div class="product-item">
    <a href="product-single.html" class="product-item__img">
        <img src="img/Photo (4).png" alt="">
    </a>
    <div class="product-item__text">
        <h4><a href="product-single.html">Лист б/у</a></h4>
    </div>
</div>
            <div class="product-item">
    <a href="product-single.html" class="product-item__img">
        <img src="img/Photo.png" alt="">
    </a>
    <div class="product-item__text">
        <h4><a href="product-single.html">Лист г/к ст.09Г2С ГОСТ 19903-74</a></h4>
    </div>
</div>
            <div class="product-item">
    <a href="product-single.html" class="product-item__img">
        <img src="img/Photo (1).png" alt="">
    </a>
    <div class="product-item__text">
        <h4><a href="product-single.html">Лист г/к ст.3сп5 ГОСТ 19903-74</a></h4>
    </div>
</div>
            <div class="product-item">
    <a href="product-single.html" class="product-item__img">
        <img src="img/Photo (2).png" alt="">
    </a>
    <div class="product-item__text">
        <h4><a href="product-single.html">Труба собственного пр-ва э/с</a></h4>
    </div>
</div>
            <div class="product-item">
    <a href="product-single.html" class="product-item__img">
        <img src="img/Photo (3).png" alt="">
    </a>
    <div class="product-item__text">
        <h4><a href="product-single.html">Труба лежалая ГОСТ 10706-76</a></h4>
    </div>
</div>
            <div class="product-item">
    <a href="product-single.html" class="product-item__img">
        <img src="img/Photo (4).png" alt="">
    </a>
    <div class="product-item__text">
        <h4><a href="product-single.html">Лист б/у</a></h4>
    </div>
</div>
        </div>
        <a href="" class="show-more">Смотреть все</a>
    </div>
</section>