<section class="main">
  <div class="main__container container">
    <div
      class="main__content"
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
    >
      <img src="img/maincontentimg.jpeg" alt="" />
      <h1>EMMA & John</h1>
      <p>Love Unites Us, 26 FEBRUARY 2026</p>
      <img src="img/maincontentimg.jpeg" alt="" />
    </div>
    <div class="main__imgs">
      <img src="img/mainfirstflower.jpeg" alt="" />
      <img src="img/mainimg.jpeg" alt="" />
      <img src="img/mainsecondflower.jpeg" alt="" />
    </div>
  </div>
</section>
