<section class="story">
  <div class="story__container container">
    <h3>Our Story</h3>
    <h2>How We Met and Decided to Journey Through Life Together</h2>
    <div class="story__item" data-aos="fade-up">
      <div class="story__item-empty"></div>
      <div class="story__item-image">
        <img src="img/hearticon.png" alt="" />
      </div>
      <div class="story__item-context">
        <h4>The Beginning of a New Adventure</h4>
        <h5>An Ordinary Evening, An Extraordinary Destiny</h5>
        <p>
          On a seemingly ordinary evening, our destinies met. A spontaneous
          conversation, shared laughter, and an instant connection transformed a
          chance encounter into the first chapter of our life together.
        </p>
      </div>
    </div>
    <div class="story__item" data-aos="fade-up"> 
      <div class="story__item-context">
        <h4>The Moment We Said 'Yes'</h4>
        <h5>A Promise Under the Stars</h5>
        <p>
          Under the starlit sky of a perfect evening, surrounded by the magic of
          nature, John knelt, his heart full of hope and love. His sincere and
          moving words were music to my soul. By saying 'Yes', we promised to
          sail the seas of life together, no matter the storms.
        </p>
      </div>
      <div class="story__item-image box-2">
        <div class="story__item-line"></div>
        <img src="img/hearticon.png" alt="" />
        <div class="story__item-line"></div>
      </div>
      <div class="story__item-empty"></div> 
    </div>
    <div class="story__item" data-aos="fade-up">
      <div class="story__item-empty"></div>
      <div class="story__item-image">
        <img src="img/hearticon.png" alt="" />
      </div>
      <div class="story__item-context">
        <h4>Adventures Together</h4>
        <h5>Exploring the World, Discovering Each Other</h5>
        <p>
          Every trip we've taken together has been an opportunity to discover
          the beauty of the world and the depths of our love. From the eternal
          snows of the Alps to the golden beaches of Greece, each adventure has
          strengthened our bond and prepared us for the journey of life as
          husband and wife.
        </p>
      </div>
    </div>
  </div>
</section>
