<section class="clock">
  <div class="clock__container container">
    <div class="clock__context">
      <div class="clock__context-item">
        <img src="img/clockflower.png" alt="" />
        <div class="clock__context-item-box">
          <span data-aos="fade-up">0</span>
        </div>
        <p>days</p>
      </div>
      <div class="clock__context-item">
        <img src="img/clockflower.png" alt="" />

        <div class="clock__context-item-box">
          <span data-aos="fade-up">0</span>
        </div>
        <p>hours</p>
      </div>
      <div class="clock__context-item">
        <img src="img/clockflower.png" alt="" />

        <div class="clock__context-item-box">
          <span data-aos="fade-up">0</span>
        </div>
        <p>minutes</p>
      </div>
      <div class="clock__context-item">
        <img src="img/clockflower.png" alt="" />

        <div class="clock__context-item-box">
          <span data-aos="fade-up">0</span>
        </div>
        <p>seconds</p>
      </div>
    </div>
  </div>
</section>
