<section class="services-single">
    <div class="services-single__container _container">
        <div class="services-single__flex">
            <div class="text">
                <h1>Цинкование металла</h1>
                <p>Компания "ДЕКС-ГРУПП" является одним из лидирующих поставщиков трубного металлопроката. Мы предлагаем как готовые трубы на складе, так и возможность заказать их под конкретные требования.</p>
                <p>Мы также предоставляем широкий спектр услуг, включая доставку, хранение, изоляцию, резку и сварку труб. Кроме того, мы занимаемся строительными работами в Москве, такими как устройство шпунтового ограждения, извлечение труб из котлована, устройство свай и стен в грунте, лидерное бурение, крепление котлована и выкуп труб и шпунта.</p>
                <p>Свяжитесь с нами, чтобы получить лучшие условия на рынке и заказать необходимые материалы и услуги для вашего проекта.</p>
                <ul>
                    <li><span></span>высокая вероятность несчастных случаев;</li>
                    <li><span></span>убытки из-за падения с высоты материалов, инструмента, оборудования;</li>
                    <li><span></span>убытки из-за разрушения объектов, расположенных поблизости;</li>
                    <li><span></span>штрафные санкции от контролирующих органов в связи с нарушением правил охраны труда.</li>
                </ul>
                <p>Во избежание таких проблем мероприятия по монтажу/демонтажу целесообразно доверить профессионалам, обладающим всеми необходимыми теоретическими навыками, практическими навыками и разрешительной документацией на проведение подобных работ.</p>
            </div>
            <div class="img"><img src="img/Photo 11 1 (1).png" alt=""></div>
        </div>
        <div class="services-single__desc">
            <p>Во избежание таких проблем мероприятия по монтажу/демонтажу целесообразно доверить профессионалам, обладающим всеми необходимыми теоретическими навыками, практическими навыками и разрешительной документацией на проведение подобных работ.Во избежание таких проблем мероприятия по монтажу/демонтажу целесообразно доверить профессионалам, обладающим всеми необходимыми теоретическими навыками, практическими навыками и разрешительной документацией на проведение подобных работ.Во избежание таких проблем мероприятия по монтажу/демонтажу целесообразно доверить профессионалам, обладающим всеми необходимыми теоретическими навыками, практическими навыками и разрешительной документацией на проведение подобных работ.Во избежание таких проблем мероприятия по монтажу/демонтажу целесообразно доверить профессионалам, обладающим всеми необходимыми теоретическими навыками, практическими навыками и разрешительной документацией на проведение подобных работ.</p>
        </div>
        <div class="services-single__gallery">
            <img src="img/Photo 26.png" alt="">
            <img src="img/Group 48096252.png" alt="">
            <img src="img/Group 48096254.png" alt="">
            <img src="img/Photo 11 (1).png" alt="">
            <img src="img/Photo (5).png" alt="">
        </div>
    </div>
</section>