<section class="product-single">
    <div class="product-single__container _container">
        <div class="category-list">
    <button class="toggle-list" onclick="toggleModal('category-list')">Каталог</button>
    <div class="category-list__box" id="category-list">
        <button class="clous-modal" onclick="toggleModal('clous-category-list')">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="26" height="26" rx="4" fill="#FFB342"/>
                <line x1="6.59491" y1="7.33779" x2="19.7425" y2="19.1759" stroke="#100E29" stroke-width="2"/>
                <line x1="6.25665" y1="19.1759" x2="19.4042" y2="7.33779" stroke="#100E29" stroke-width="2"/>
            </svg>                
        </button>
        <div class="category-list__box-container" onclick="toggleModal('category-list')">
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Сортовой прокат</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Труба стальная</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Трубопроводная арматура</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Цветные металлы</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Метизы метсырье</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Крепеж</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Ограждения</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Сэндвич панели</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Вагонка</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Метизы метсырье</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Вагонка</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Сэндвич панели</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Метизы метсырье</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Вагонка</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Ограждения</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Метизы метсырье</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Вагонка</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-list__item">
                <div class="category-list__item-title">
                    <h4>Ограждения</h4>
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8.5L5 4.5L1 0.5" stroke="#17143B" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
                <div class="category-list__item-hiden">
                    <ul>
                        <li><a href="">Труба б/у 159х1</a></li>
                        <li><a href="">Труба б/у 159х3</a></li>
                        <li><a href="">Труба б/у 159х10</a></li>
                        <li><a href="">Труба б/у 159х5</a></li>
                        <li><a href="">Труба б/у 159х6</a></li>
                        <li><a href="">Труба б/у 159х11</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="product-single__right">
            <div class="product-single__cart">
                <div class="product-single__img">
                    <div class="gallery-swiper">
                        <span class="sale-span">-30 %</span>
                        <button class="slideprev">
                            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="42" height="42" rx="5" fill="white"/>
                                <rect x="0.5" y="0.5" width="41" height="41" rx="4.5" stroke="#513D3C" stroke-opacity="0.1"/>
                                <path d="M12.3601 21.0851L30 21.0851" stroke="#513D3C" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M19.4746 28.1696L12.3598 21.0854L19.4746 14" stroke="#513D3C" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </button>
                        <button class="slidenext">
                            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="42" height="42" rx="5" transform="matrix(-1 0 0 1 42 0)" fill="white"/>
                                <rect x="-0.5" y="0.5" width="41" height="41" rx="4.5" transform="matrix(-1 0 0 1 41 0)" stroke="#513D3C" stroke-opacity="0.1"/>
                                <path d="M29.6399 21.0851L12 21.0851" stroke="#513D3C" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.5254 28.1696L29.6402 21.0854L22.5254 14" stroke="#513D3C" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </button>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-thumbs">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/image 37 (7).png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-single__info">
                    <h1>Труба б/у 159х5</h1>
                    <div class="product-single__prices">
                        <p>12 500 ₽</p>
                        <span>16 038 ₽</span>
                    </div>
                    <div class="product-single__characters">
                        <p>Длина:
                            <span>до 12</span>
                        </p>
                        <p>Размер:
                            <span>8x8</span>
                        </p>
                        <p>ГОСТ:    
                            <span>8639-82</span>
                        </p>
                        <p>Материал:
                            <span>Оцинкованная сталь</span>
                        </p>
                        <p>Покрытие:
                            <span>Оцинкованная</span>
                        </p>
                    </div>
                    <div class="product-single__buttons">
                        <button onclick="toggleModal('calculate-modal')">Заказать</button>
                        <button onclick="toggleModal('calculate-modal')">Купить в один клик</button>
                    </div>
                    <div class="product-single__delivery">
                        <p>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M27.8757 17.9253L25.2507 13.5503C25.0933 13.286 24.808 13.125 24.5 13.125H19.25V10.5C19.25 10.017 18.858 9.625 18.375 9.625H13.9107C13.4697 13.552 10.1675 16.625 6.125 16.625C4.50625 16.625 3.003 16.1315 1.75 15.2915V20.125V22.75C1.75 23.233 2.142 23.625 2.625 23.625H5.411C5.77325 24.6418 6.73575 25.375 7.875 25.375C9.01425 25.375 9.97675 24.6418 10.339 23.625H18.375H19.25H21.161C21.5233 24.6418 22.4858 25.375 23.625 25.375C24.7642 25.375 25.7267 24.6418 26.089 23.625H27.125C27.608 23.625 28 23.233 28 22.75V18.375C28 18.2157 27.958 18.06 27.8757 17.9253ZM7.875 23.625C7.392 23.625 7 23.2312 7 22.75C7 22.2688 7.392 21.875 7.875 21.875C8.358 21.875 8.75 22.2688 8.75 22.75C8.75 23.2312 8.358 23.625 7.875 23.625ZM23.625 23.625C23.1437 23.625 22.75 23.2312 22.75 22.75C22.75 22.2688 23.1437 21.875 23.625 21.875C24.1063 21.875 24.5 22.2688 24.5 22.75C24.5 23.2312 24.1063 23.625 23.625 23.625ZM21 18.375V14.875H24.0047L26.1047 18.375H21Z" fill="#091242"/>
                                <path d="M6.125 2.625C2.7475 2.625 0 5.3725 0 8.75C0 12.1275 2.7475 14.875 6.125 14.875C9.5025 14.875 12.25 12.1275 12.25 8.75C12.25 5.3725 9.5025 2.625 6.125 2.625ZM8.4945 11.1195C8.323 11.2893 8.099 11.375 7.875 11.375C7.651 11.375 7.427 11.2893 7.2555 11.1195L5.5055 9.3695C5.34275 9.205 5.25 8.98275 5.25 8.75V6.125C5.25 5.642 5.642 5.25 6.125 5.25C6.608 5.25 7 5.642 7 6.125V8.38775L8.4945 9.88225C8.83575 10.2235 8.83575 10.7782 8.4945 11.1195Z" fill="#091242"/>
                            </svg>
                            Условия доставки                                
                        </p>
                    </div>
                </div>
            </div>
            <div class="product-single__about">
                <h4>Характеристики</h4>
                <p>Длина:
                    <span>до 12</span>
                </p>
                <p>Размер:
                    <span>8x8</span>
                </p>
                <p>ГОСТ:
                    <span>8639-82</span>
                </p>
                <p>Материал:
                    <span>Оцинкованная сталь</span>
                </p>
                <p>Вес погонного метра, т.:
                    <span>т.0.000284</span>
                </p>
                <p>Марка стали:
                    <span>Ст3</span>
                </p>
                <p>Покрытие:
                    <span>Оцинкованная</span>
                </p>
                <p>Тип сечения:
                    <span>Квадратная</span>
                </p>
            </div>
            <div class="category-info">
    <div class="category-info__item">
        <h3>Труба профильная квадратная оцинкованная 8х8х1.5 основные характеристики</h3>
        <p>Труба профильная квадратная оцинкованная 8х8х1.5 – это полое металлическое изделие, которое имеет квадратную форму сечения. Размер трубы: 8x8, толщина стенки составляет - мм. Труба профильная квадратная оцинкованная 8х8х1.5 имеет длину до 12 метров.</p>
        <p>Вся продукция прошла необходимую сертификацию качества и соответствует стандартам: ГОСТ 8639-82. Изделия производятся из оцинкованной стали марки - Ст3.</p>
        <p>Сталь без какого-либо покрытия, под действием внешних факторов, очень быстро подвергается коррозии. Поэтому, благодаря цинкованию, трубы приобретают защиту от окисления.</p>
    </div>
    <div class="category-info__item">
        <h3>Преимущества оцинкованной профильной трубы</h3>
        <ul>
            <li>легкость и прочность конструкции;</li>
            <li>устойчивость к окислению и коррозии;</li>
            <li>выдерживает большие нагрузки;</li>
            <li>долговечность.</li>
        </ul>
        <p>Оцинкованные профильные трубы активно применяются в промышленном и гражданском строительстве, используются в качестве каркасов жилых домов, служат укреплением основания мостов, возведении телиц, ограждений и заборов.</p>
    </div>
</div>
            <div class="category-table">
    <div class="category-table__sort">
        <p>Сортировать по:</p>
        <button class="active">
            Цене
            <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.64645 10.3536C3.84171 10.5488 4.15829 10.5488 4.35355 10.3536L7.53553 7.17157C7.7308 6.97631 7.7308 6.65973 7.53553 6.46447C7.34027 6.2692 7.02369 6.2692 6.82843 6.46447L4 9.29289L1.17157 6.46447C0.976311 6.2692 0.659728 6.2692 0.464466 6.46447C0.269204 6.65973 0.269204 6.97631 0.464466 7.17157L3.64645 10.3536ZM3.5 0L3.5 10H4.5L4.5 0L3.5 0Z" fill="#FFB342"/>
            </svg>                
        </button>
        <button>Популярности</button>
    </div>
    <div class="category-table__box">
        <table >
            <thead>
                <tr>
                    <td>Название</td>
                    <td>Длина</td>
                    <td>Цена</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="">Труба бесшовная горячедеформированная 89х5</a></h4>
                    </td>
                    <td>1 метр</td>
                    <td>155 890 руб. / тонна</td>
                    <td><a href="" class="buy-btn">Заказать</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
    <a href="" class="active">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <span>...</span>
    <a href="">
        2563
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.3536 4.35355C11.5488 4.15829 11.5488 3.84171 11.3536 3.64645L8.17157 0.464466C7.97631 0.269204 7.65973 0.269204 7.46447 0.464466C7.2692 0.659728 7.2692 0.976311 7.46447 1.17157L10.2929 4L7.46447 6.82843C7.2692 7.02369 7.2692 7.34027 7.46447 7.53553C7.65973 7.7308 7.97631 7.7308 8.17157 7.53553L11.3536 4.35355ZM0 4.5H11V3.5H0V4.5Z" fill="#262626"/>
        </svg>            
    </a>
</div>
</div>
        </div>
    </div>
</section>