<section class="confirm">
  <img src="img/topimg.jpeg" alt="" />
  <div class="confirm__container container" data-aos="fade-up">
    <div class="confirm__heart">
      <img src="img/pinkhearticon.png" alt="" />
    </div>
    <h3>We Look Forward to Your Confirmation</h3>
    <h4>
      Every detail matters to us, and your presence is the most precious gift.
      Please confirm your attendance by July 1, 2025, to ensure everything is as
      we have dreamed.
    </h4>
    <h2>Help us plan the perfect day</h2>
  </div>
  <img src="img/bottomimg.jpeg" alt="" />
</section>
